@charset "utf-8";
*{
	margin: 0;
	padding: 0;
 }
 html{
	height: 100vh;
}
body {
	font-family: "Helvetica Neue", Arial, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN","Hiragino Sans","メイリオ", "Meiryo", sans-serif;
	line-height: 1.7;
	margin: 0 auto;
	background-image: url(../images/silverwashi_back.jpg);
	background-attachment: fixed;
 }
header h1 {
 display:none ;
 }
nav {
 width: 100%;
 }
nav ul {
	width: 100%;
    }
nav ul li {
 width:100%;
 line-height: 2.5;
 background-color: #7C6253;
 list-style-type: none;
 text-align: center;
 border-bottom: white 3px groove;
 }
 nav ul li a {
	text-decoration: none;
	color: #FFF;
	display: block;
  }
nav a:hover {
	background-color: #d3ff33;
	}
.link ul{
 display: none;
	}
.flex{
	margin-left: auto;
	margin-right: auto;
}
main {
	line-height:1.7;
	margin: 0;
	padding: 0 1em;
	text-align: center;
}
main h1 {
	text-align: center;
}
address h2{
	text-align: center;
	background-color: #F90;
	font-size:16px;;
}

address{
	font-size: 21px;
	font-weight: bold;
	line-height: 2;
}
address h3{
	display: block;
	height: 2;
	font-size:21px;
}
address dl{
	display:block;
	padding-left: 1em;
}
.free_daial{
	background-color: #F90;
	padding-left: 1em;
}
figure{
display: none;
}
aside{
  display:none;
 }
footer{
	padding: 1em;
	text-align: center;
 }
/* ------------------------------------------------*/
@media only screen and (min-width:480px){
nav ul{
	display:inline-flex;
	width:100%;
		}
nav ul li{
	width: 100%;
	padding:0;
	background-color: lightcoral;
	border-bottom: #33ff8f 3px solid;
		}
nav ul li a{
	line-height: 3em;
		}
.hahawoshitai{
	display: none; /*menu*/
			}
nav a:hover {
	background-color: #48f39d;
			}
.link ul{
	display: none;
				}
.flex{
width: 478px;
margin: 0 auto;
padding: 0;
}
main h1{
					font-size:2em;
					text-align: center;
					}
main{
					width: 478px;
					text-align: center;
					margin: 0 auto;
					padding: 0 auto;
					}
main h2{
	display: inline-block;
	margin: 2em auto;
	padding: 1em;
	background: lightgreen;
}
figure{
	display: block;
	}
.flower{
margin-top: 0;
 }
aside{
	 display: none;
 }
}
@media only screen and (min-width:640px){
body{
		width:637px;
		position: unset;
		border-right-width: 1px;
		border-left-width: 1px;
		border-right-style: solid;
		border-left-style: solid;
		border-right-color: #36455A;
		border-left-color: #36455A;
		}
nav ul li{
		width: 100%;
		background-color:rgb(14, 134, 74);
		}
.flex{
	width: 100%;
		margin-left: auto;
		margin-right: auto;
			 }
main h1{
		 font-size: 2em;
		 text-align: center;
	 }
main{
		 width: 100%;
		 margin: 3em auto 0 auto;
	 }
.jusho{
	height:55vh;
	text-align: left;
	columns: auto 2;
	column-rule: 1px solid #cdcdcd;
	column-gap: 0em;
	column-fill:auto;
	}
.gpr{
	font-size: 20px;
}
	 }
@media only screen and (min-width:960px){
body {
			width: 963px;
			position: relative;
			}
header {
			height: 482px;
			background-image: url(../images/candoll_m.jpg);
			background-attachment: scroll;
			background-repeat: no-repeat;
			background-position: top;
			position: relative;
			}
nav {
			width: 100%;
			position: absolute;
			bottom: 0;
			padding: 0;
			margin: 0 auto;
			}
nav ul {
			width: 100%;
			list-style-type: none; /*箇条書きのポッチを消す*/
			text-align:center /*左右中央寄せは親要素に対して指定*/
			}
nav ul li {
			display: inline-block;
			padding: 0; /*余白も指定できる*/
			vertical-align: middle; /*縦の表示位置も指定できる*/
			background-color: rgba(226, 169, 83, 0.836);
			border-bottom: rgb(180, 184, 126) 3px solid;
			line-height: 3em;
			}
nav a {
			display: block;
			padding:0;/*余白も指定できる*/
			color: #FFF;
			text-decoration: none;
			text-align: center;
			}
nav a:hover {
			color: #FFF;
			background-color: rgb(153, 14,130);
			}
.hahawoshitai{
			 display:initial;
			}
.link ul{
			display: none;
			}
.flex{
			width: 956px;
			display:flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			margin: 0 auto;
			padding-left: auto;
			padding-right: auto;
			}
main{
			 text-align: center;
			 width: 630px;
			 margin: 0 auto;
			 }
main h1{
			display: block;
			margin-top: 1em;
			}
.flower{
 display: none;
}
.jusho{
	height:53vh;
	text-align: left;
	columns: 2;
	column-rule: 1px solid #cdcdcd;
	column-gap: 0em;
				}
.gpr{
		font-size: 22px;
			}
aside{
			display: block;
			width: 270px;
			margin-left: 1em;
			padding-top: 0.2em;
			}
aside ul li{
	display: block;
	padding: 0;
	margin: 0.5em 0;
	line-height: 3em;
	background-color: #762c53;
		 }
aside li a{
			display: block;
			padding-left: 1em;
			color: #fff;
			text-decoration: none;
			}
aside ul li{
			display: block;
			padding: 0;
			margin: 0.5em 0;
			line-height: 3em;
			background-color: #c59ab1;
			}
aside a:hover{
			color: #fff;
			background-color: #FF9933;
			}
.tosho {
			display: block;
			width: 265px;
			height: auto;
			padding:0.4em 0 0.4em 0.7em;
			margin: 0;
			background-color:#858794;
			text-align: left;
			}
.tosho a{
			 color: #fff;
			 font-size: 15px;
			 font-stretch:condensed;
			 text-decoration: none;
			 }
.tosho:hover{
			background-color: rgb(94, 177, 12);
			color: #000;
			}
.news{
 display: block;
 color: #fff;
 font-weight: bold;
 margin:1em auto;
 padding: 1em;
 text-align: center;
 border: 1px dashed #F0F;
 background-image: linear-gradient(180deg, #DA70D6, #FFFF66);
			}
.news img{
	margin:1em auto;
}
.news a{
	display: block;
}
.news a:hover{
 opacity: 0.1;
 }
.book{
			display:block;
			text-align: center;
			}
.book img{
			 height: auto;
			 width: 210px;
			 margin: 2em auto 2em auto;
			 padding-left: auto;
			 padding-right:auto;
				}
.box2{
	display: flex;
  justify-content: center;
}
.ongakulank{
			display: block;
			}
.enkalank{
			display: block;
			margin-bottom: 1em;
			}
footer {
			height: auto;
			width: auto;
			background-color: #886061;
			text-align: center;
			vertical-align: middle;
			padding: 10px 0;
			margin: 0px auto;
			color: #FFF;
			}
		 /* min-width:960px*/
